body {
    font-family: "Roboto", "Railway", sans-serif;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}
.header-line {
    display: flex;
    flex-direction: row;
    background-color: #E7E9FC;
}
.top-line {
}
.top-line-logo {
    color: #4D5AE5;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo {
    font-family: "Raleway";
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.contacts {
display: inline;
color: #434455;
}
a:hover,
a:focus {
    color: #4D5AE5;
}

.hero {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    text-align: center;
}
.hero-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1,07;
    letter-spacing: 0.02em;

}
td {
    cursor: pointer
}
